<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-5">User List</h1>
    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Login ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.surname}"></td>
                <td th:text="${user.loginId}"></td>
                <td th:text="${user.email}"></td>
                <td>
                    <a th:href="@{/user/edit/{id}(id=${user.id})}" class="btn btn-primary">Edit</a>
                    <a th:href="@{/user/delete/{id}(id=${user.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="mt-4">
        <a href="/user/create" class="btn btn-success">Create New User</a>
        <a th:href="@{/users/search}" class="btn btn-warning ml-2">Search Users</a>
    </div>
</div>
</body>
</html>
